{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center container-sm overflow-hidden mt-5 mr-5 ml-5">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <img src="{{asset("image/"~read.image)}}" alt="unable to load image"/>
                <h2 class="display-4 fst-italic">{{read.title}}</h2>
            </div>

            <h5>{{ read.shortDescription }}</h5>
            <p class="">
                {{ read.body }}
            </p>
</div>
            

{% endblock %}